- name: Create a jenkins Folder - "{{ folders }}"
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/folder.xml') }}"
    name: "{{item}}"
    password: admin123
    url: http://172.31.47.184:8080
    user: admin
  loop: "{{ folders }}"

- name: Create pipeline jobs
  ansible.builtin.include_tasks: pipeline.yml
  loop: "{{ pipeline_jobs }}"